@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    text-align: justify;
}

/*----- Toolbar line at top----- */

/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
	height: 50px;
	padding-top: 10px;
	border-bottom: 1px solid transparent;
}

.book .book-summary ul.summary li.divider {
	height: 0px;
}

/* TOC book title */

.summary > li:first-child a {
    font-size: 11.5px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: normal !important;
    color:#ad0760 !important;
    letter-spacing: 1pt;

}

.book .book-header.fixed {
  border-bottom: 1px solid transparent;
}

.book .book-header .btn {
  color: #ad0760;
}

.book .book-header .btn:hover {
  color: #ad0760;
}


/*------------- Body and header text---------------- */
.book.font-family-1 {
  font-family: 'PT Sans', sans-serif;
  color: #ad0760;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans', sans-serif;
}

h2, h3 {   
  font-family: 'PT Sans', sans-serif;
}
.title {
  font-family: 'PT Sans', sans-serif;
}

.subtitle {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  color: #ad0760;
  font-size: 30px !important;
}

h2 {
  color: #ad0760;
}

h3 {
  font-size: 1.1em;
  color: #ad0760;
}

h4 {
  font-size: 1.1em;
  color:#ad0760;
}

.title {
  font-family: 'PT Sans', sans-serif;
  font-size: 60px !important;
  color: #ad0760;
  text-transform: none !important;
}

.subtitle {
  font-family: 'PT Sans', sans-serif;
  color: #ad0760 !important;
}


/*-----Body Links-------*/

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #ad0760;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
 color: #ad0760; /* darker color when hovering */
 text-decoration: underline;
}

/*------------ TOC --------------*/
.summary{
  font-family: 'PT Sans', sans-serif;
}

.book .book-summary {
  background: linear-gradient(to top, rgb(194, 97, 149), 1%,rgba(255, 255, 255,1.0));
  border-right: #ad0760 solid 1pt;
}

/* numbers */

li a b  {
  padding-right: 1em;
}

/* list items*/
.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ad0760;
}

.summary a:hover {
  color: #ad0760 !important;
} 

/*active TOC links*/
.book .book-summary ul.summary li.active>a { 
  color: #ad0760 !important;
} 
    
/* parts */
li.appendix span, li.part span { 
  margin-top: 1em;
  color: #ad0760;
  opacity: 1 !important;
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 11px !important;
  font-weight: bold;
  white-space: normal !important;
}

/* ----- For Large Screens -----*/


@media (min-width: 1900px) {
  
  .book .book-header.fixed {
    left: 500px;
}
  
  /* Content width */
  .book.with-summary .book-body {
      left: 500px;
  }
  
  /* TOC */
  .book .book-summary {
    width: 500px;
    left: -500px;
  }

  .book.with-summary .book-header.fixed {
      left: 500px;
      
  }
}


@media (min-width: 1500px) {
  
  /* Content width */
  .book.with-summary .book-body {
      left: 400px;
  }
  
  /* TOC */
  .book .book-summary {
    width: 400px;
    left: -400px;

  }

  .book.with-summary .book-header.fixed {
      left: 400px;
  }
}


@media (min-width: 1400px) {
  
  /* Content width */
  .book.with-summary .book-body {
      left: 350px;
  }
  
  /* TOC */
  .book .book-summary {
      width: 350px;
      left: -400px;
  }

  .book.with-summary .book-header.fixed {
      left: 350px;
  }
} 